<!DOCTYPE html>
<html >
<head>
  <title>Start</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="styles/stil.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="scripts/angular-route.js"></script>
  <script src="scripts/javascript.js"></script>

</head>
<body ng-app="test"  ng-controller="loginctrl" >
<div class="content">
  <center><h1>LOG-IN</h1></center>


  <div ng-controller="loginctrl">
    <form action="/">
      <input type="text" ng-model="maillogin" id="maillogin"> <br>
      <input type="password" ng-model="passwordlogin" id="passwordlogin"></form><br>

    <button type="button" ng-click="loginb()">Log in</button>

    </form>
  </div>








</body>
</html>

